body{
    background-image: url(./images/modern-bookstore-showcasing-rows-vibrant-books.jpg);
}

#welcome{
    text-align: center;
    color: whitesmoke;
}

#newBookBtn {
    display: flex;
    justify-self: center;
    margin: 30px;
    font-size: 40px;
    border-radius: 20px;
    background-color: rgba(3, 163, 3, 0.742);
    padding: 10px;
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;
    box-shadow: 2px 2px 50px rgb(243, 241, 241);
}
#newBookForm {
    width: 30vw;
    grid-auto-flow: row;
    justify-self: center;
    justify-items: center;
    gap: 10px;
    margin: 30px;
    padding: 20px;
    border: 1px solid whitesmoke;
    background-color: rgb(206, 206, 206, 0.3) ;
    color: whitesmoke;
    
    
}
#newBookForm input {
    width: 80%;
    height: 20px;
    border: 1px solid rgb(206, 206, 206);

    
}

#newBookForm input[type="submit"]{
    background-color: blue;
    color: white;
    width: 30%;
    border-radius: 5px;
}
#newBookForm label {
    padding: 10px;
    width: 20%;
    text-align: center;
}



#displayArea{
    
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    gap: 20px;

}
.bookCard {
    border: 1px solid black;
    width: 1fr;
    height: 1fr;
    display: grid;
    text-align: center;
    background-color: rgb(206, 206, 206, 0.3) ;
    color: whitesmoke;
   
   
}

.bookCard .title{
    font-size: 30px;
    
}

.removeBookBtn, .toggleReadStatus{
    display: flex;
    border-radius: 5px;
    font-size: 15px;
    width: 50%;
    justify-self: center;
    justify-content: center;
    margin: 10px;
    fill: whitesmoke;
    background-color: rgb(255, 0, 0, 0.5);

}

.toggleReadStatus{
    background-color: grey;
    color: whitesmoke;
}

.cardBtns{
    display: flex;
    justify-content: center;
}